{% extends 'base.html' %}

{% block title %}Добавить пользователя в проект{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:user_view' %}">Пользователи в проектах</a></li>
{% endblock %}

{% block content %}
    <h1>Добавить пользователя</h1>
    {% if perms.accounts.add_team %}
        <form method="POST" action="{% url 'webapp:user_add' %}">
            {% include 'partial/issue_form.html' with button_text="Создать" %}
        </form>
    {% else %}
        {% url 'webapp:not_allowed' user.pk %}
    {% endif %}
{% endblock %}