{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Пользователь{% endblock %}

 

{% block menu %}
    {% if user_obj == request.user %}

    <li><a href="{% url "accounts:update" user_obj.pk %}">Редактировать</a></li>

    <li><a href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля</a></li>

    {% endif %}

{% endblock %}

 

{% block content %}

   <h1>Личный кабинет</h1>

   {% if user_obj.profile.avatar %}

       <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">

   {% else %}

      <img src="{% static "images/adam.jpg" %}" alt="Заглушка" >

   {% endif %}

    <p>Имя пользователя: {{ user_obj.username }}</p>

    <p>Имя: {{ user_obj.first_name }}</p>

    <p>Фамилия: {{ user_obj.last_name }}</p>

    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>

    <p>Почта: {{ user_obj.email }}</p>

    {% if user_obj.profile.github_profile %}

    <p>Профиль GitHub: <a href="">{{ user_obj.profile.github_profile }}</a></p>

    {% endif %}

{% endblock %}

