
{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'issue_add' %}">Добавить Задачу</a></li>
    <li><a href="{% url 'status_view'  %}">Статусы</a></li>
    <li><a href="{% url 'type_view' %}">Типы</a></li>
    <li><a href="{% url 'project_index' %}">Проекты</a></li>
{% endblock %}

{% block content %}
    <h1>Задачи:</h1>
    <hr/>
    {% include 'partial/simple_search.html' %}
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
    {% for issue in issues %}
        <h2>{{ issue.summary }}</h2>
        <p>{{ issue.summary }} ({{ issue.status|default_if_none:'Без категории' }})
            создана {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>
        <p>
            <a href="{% url 'issue_view' issue.pk %}">Подробнее.</a>
            <a href="{% url 'issue_update' issue.pk %}">Обновить</a>
            <a href="{% url "issue_delete" issue.pk %}">Удалить</a>
        </p>
        <hr/>
    {% endfor %}
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
{% endblock %}