{% extends 'base.html' %}

{% block title %}{{ issue.summary }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:issue_update' issue.pk %}">Обновить</a></li>
    <li><a href="{% url 'webapp:issue_delete' issue.pk %}">Удалить</a></li>
{% endblock %}

{% block content %}
    <h1>{{ issue.summary }}</h1>
    <p>{{ issue.summary }}({{ issue.status|default_if_none:'Без категории' }})
            создана {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>
    <div class="pre">{{ issue.description }}</div>
    <div class="pre" style="margin-top: 20px">Тип:{{ issue.type }}</div>
    <div class="pre" style="margin-top: 5px">{{ issue.project }}</div>
{% endblock %}


