 
{% extends 'base.html' %}

{% block title %}Обновить Задачу{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:issue_view' issue.pk %}">Подробнее</a></li>
{% endblock %}

{% block content %}
    <h1>Обновить Задачу</h1>
    {% if perms.webapp.change_issue %}
        <form method="POST" action="{% url 'webapp:issue_update' issue.pk %}">
        {% include 'partial/issue_form.html' with button_text=" Обновить" %}
        </form>
    {% else %}
        {% url 'webapp:not_allowed' issue.pk %}
    {% endif %}
{% endblock %}