{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Задача{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
            <li><a href="{% url 'webapp:index' %}">Главная страница</a></li>
            {% if request.user.is_authenticated %}
                <li class="menu-right"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
                <li class="menu-right">Привет, <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>!</li>
            {% else %}
                <li class="menu-right"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
                <li class="menu-right"><a href="{% url 'accounts:create' %}" class="nav-link">Регистрация</a></li>
            {% endif %}
            {% block menu %}{% endblock %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}

    <hr>
    <h1>Статистика</h1>

    <h3>Вы посетили:</h3>
    {% for page, count in visits.items %}
        <p>{{ page }}: {{ count }} раз</p>
    {% endfor %}
    <p>Всего: {{ visits_total }} посещений</p>

    <h3>Вы провели времени:</h3>
    {% for page, count in times.items %}
        <p>{{ page }}: {{ count }} cекунд</p>
    {% endfor %}
    <p>Всего: {{ times_total }} секунд на сайте</p>
</div>
</body>
</html>
