
{% extends 'base.html' %}

{% block title %}Статусы{% endblock %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:status_add' %}">Добавить Статус</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Статусы:</h1>
    <hr/>
    {% if request.user.is_authenticated %}
    {% else %}
        <h2 style="color: darkblue">Для создания, редактирования и удаления статусов войдите на сайт.</h2>
    <   hr>
    {% endif %}
        {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
    {% for status in statuses %}
        <h2>{{ status.name }}</h2>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'webapp:status_delete' status.pk %}">Удалить</a></li>
            <li><a href="{% url 'webapp:status_update' status.pk %}">Обновить</a></li>
        {% endif %}
        <hr/>
    {% endfor %}
        {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
{% endblock %}