{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:project_index' %}">Проекты</a></li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'webapp:project_update' project.pk %}">Обновить</a></li>
    <li><a href="{% url 'webapp:project_delete' project.pk %}">Удалить</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <p>Создан {{ project.created_at|date:'d.m.Y H:i:s' }}</p>
    <div class="pre"><h3>Описание:</h3>{{ project.description }}</div>
    <hr/>
    <h3>Задачи:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="issue-list">
        {% for issue in project.articles.all %}
            <div class="issue">
                <p>{{ issue.summary }} создана {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>
            </div>
        {% empty %}
            <p>Нету задач.</p>
        {% endfor %}
    </div>
    <h4>Над проектом работают:</h4>
    <div class="user-list">
        {% for user in project.team.all %}
            <div class="issue">
                <p>{{ user }}</p>
            </div>
        {% empty %}
            <p>Нету задач.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

